.hero-section {
  background-image: url("/images/Hero_Candidate.png");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex !important;
  align-items: center !important;
}

.hero-content {
  text-align: left !important;
  max-width: md !important;
}

.hero-heading {
  width: 420px;
  color: #28395a;
  line-height: 4rem !important;
}

.search-container {
  display: flex !important;
  margin-bottom: 4rem !important;
}

.search-input {
  width: auto !important;
  background-color: white !important;
  margin-right: 0.5rem !important;
}

.search-button {
  width: 150px;
  background-color: #28395a !important;
  color: white !important;
}

.job-card {
  background-color: #f7fafc;
  padding: 2rem;
  border-radius: 0.5rem;
  min-width: 100%;
}

.apply-button {
  background-color: #28395a !important;
  color: white !important;
}
